        <section class="row" id="nueva">
            <form class="form-goup">
                <div class="row">
                    <div class="col-md-5">
                        <input type="input" id="inputNombre" class="form-control inline" placeholder="Nueva Tarea" required="" autofocus="">
                    </div>
                    <div class="col-md-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoria1" value="1">
                            <label class="form-check-label" for="categoria1">Php</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoria2" value="2">
                            <label class="form-check-label" for="inlineCheckbox2">Javascript</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="categoria3" value="3">
                            <label class="form-check-label" for="inlineCheckbox3">Css</label>
                        </div>
                    </div>
                    <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" id="insertar">Enviar</button></div>
                </div>
            </form>
        </section>
        <br />
        <section class="row">
            <div class="col-md-12 red" id="error"></div>
        </section>
        <br />

        <section class=" row" id="busqueda">
            <div class="col-md-9">
                <input type="input" class="form-control inline" placeholder="Buscar" required="" id="q">
            </div>
            <div class="col-md-3">
                <button id="bbuscar" class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
            </div>
        </section>
        <br />

        <section class="row">
          <table id="buscar">
              <tr>
                    <td>Tarea</td><td>Categorias</td><td>Acciones</td>
              <tr>
              <?php foreach($tareas as $tarea) {?>
                  <tr id="<?php echo $tarea['id']?>">
                        <td><?php echo $tarea['nombre'];?></td>
                        <td><?php echo $tarea['categorias'];?></td>
                        <td><button class="btn btn-lg btn-primary btn-block borrar" type="submit">Borrar</button></td>
                  </tr>
              <?php } ?>
              <tr id="ultimo"></tr>
          </table>
       </section>
 </div>
