<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administrador de tareas">
    <meta name="author" content="Victor Ocio">
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="/">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
   	<?php  $this->assets->outputCss('header'); ?>
  </head>

  <body>

    <div class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Administracion de tareas</h1>
            <p class="lead">Administra tus tareas, borrando, añadiendo y cambiando de estado a cada tarea.</p>
        </div>
        <div class="palen-body">
            <?php echo $this->getContent();?>
        </div>
    </div><!-- /.container -->
    <script type="text/javascript" src="/js/tareas.js"></script>
  </body>
</html>
